body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: aliceblue;
}

h2{
    color: blueviolet;
}

section{
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 6px rgba(255,0,0,0.9);
    ;
}

input,button{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: rgba(17, 63, 5, 0.9);
}

#weather{
    margin-top: 20px;
    font-size: 18px;
}