body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(243, 5, 5);
    text-align: center;
    font-weight: bold;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    text-decoration: solid underline rgb(31, 255, 2);
}
ul{
    list-style-type: square;
    font-size: 20px;
    color: rgb(0, 153, 153);
    background-color: bisque;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding-left: 50%;
}
input{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 5px;
    font-size: 20px;
    
}
button{
    background-color: rgba(0, 217, 255, 0.5);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 2px;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(0, 217, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.remove,.complete{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-weight: 2px;
    margin: 1%;
    padding: 4px;
    font-size: 10px;;
}
.complete{
    background-color: rgb(0, 255, 0);
}